[Unit]
Description=Strativ Poll
After=network.target

[Service]
User=vote
Group=vote
WorkingDirectory=/opt/vote
EnvironmentFile=/opt/vote/.env
ExecStart=/opt/vote/.venv/bin/gunicorn vote.wsgi \
    --workers 3 \
    --bind unix:/run/vote/vote.sock \
    --access-logfile - \
    --error-logfile -
Restart=always
RuntimeDirectory=vote
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
